.container {
  padding: 0;

  .content {

    &__blog {
      padding-top: 0;
      padding-bottom: 0;

      @media (max-width: 786px) {
       padding: 0;
      }
    }
    &__sidebar {
      padding-top: 0;
      padding-bottom: 0;

      @media (max-width: 786px) {
        padding: 0;
      }
    }
  }
}


