

.blog-content {
  padding: 0 267px;
  @media (max-width: 1024px) {
    padding: 0 160px;
  }

  @media (max-width: 786px) {
    padding: 0;
  }

  &__article {
    padding-top: 0;
    padding-bottom: 0;

    @media (max-width: 786px) {
     padding: 0;
    }
  }
  &__sidebar {
    padding-top: 0;
    padding-bottom: 0;

    @media (max-width: 786px) {
      padding: 0;
    }
  }
}


