
.sidebar {
  margin-top: 154px;
  background: $accent;
  min-height: 640px;
  padding: 50px 25px 25px;

  @media (max-width: 786px) {
    margin: 0 33px 37px 33px ;
    min-height: 426px;
    padding: 34px 30px 30px;
  }

  button {
    border-radius: 0;
    color: $white;
    text-transform: capitalize;
    background: linear-gradient(90deg, $secondary 0.83%, $primary 100%);
    box-shadow: 0px 3px 10px rgba(104, 104, 104, 0.5);

    @media (max-width: 786px) {
      height: 50px !important;
      font-size: 18px;
    }
  }
}
