@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');
$body-font-family: 'Lato', sans-serif;

$primary: #E5424F;
$secondary: #AC519C;
$accent: #F5F5F5;
$error: #FF0000;
$info: #1867C0;
$success: #4CAF50;
$warning: #FFC107;

$black: #101010;
$white: #FFFFFF;
$background-grey: #F2F2F2;
