
.sidebar {
  margin-top: 154px;
  background: $accent;
  min-height: 640px;
  padding: 50px 25px 25px;

  @media (max-width: 786px) {
    margin: 0 33px 37px 33px ;
    min-height: 426px;
    padding: 34px 30px 30px;
  }
}
